.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  border-radius: 8px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-family: Arial;

  &.open {
    height: 400px;
  }

  .chatbot-header {
    background: #006400;
    color: white;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
  }

  .chatbot-body {
    padding: 10px;
    height: 340px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .user {
      align-self: flex-end;
      background: #e6f5e8;
      padding: 6px 10px;
      border-radius: 10px;
    }

    .bot {
      align-self: flex-start;
      background: #f1f1f1;
      padding: 6px 10px;
      border-radius: 10px;
    }

    input {
      margin-top: auto;
      padding: 8px;
      border: 1px solid #ccc;
      width: 100%;
      border-radius: 5px;
    }
  }
}
